html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	color: #111;
	font-family: 'Open Sans', Arial, sans-serif;
}

nav {
    flex: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
}

#nav-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#nav-content>* {
    flex: 1;
    min-width: 6.5em;
    text-align: center;
    padding: 1em;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#nav-content>*:last-child {
    border-right: none;
}

nav a {
	text-decoration: none;
    font-weight: 700;
    color: #111;
    transition: color 2s;
    transition: background-color 0.25s;
}

#announcement {
	left: 0;
	right: 0;
	padding: 1em;
	text-align: center;
	background-color: #f2f2f2;
	color: #0d0d0d;
	font-weight: 700;
	position: absolute;
	z-index: 1000;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	top: 0;
}

#content {
	width: 100%;
	height: 100%;
    display: flex;
    flex-flow: column;
}

/* --- Logo CSS --- */
#logo-section {
    flex: 1;
	display: block;
	background-color: #000000;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

#logo-background {
	opacity: 0;
	background-color: #00C800;
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-holder {
	width: 50%;
	height: 50%;
}

#logo {
	width: 100%;
	height: 100%;
	background: url(images/bg.png) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
/* --- EndLogo CSS --- */

/* --- Animation CSS --- */

.wobble {
	animation: wobble 10s ease-in-out infinite;
	-moz-animation: wobble 10s ease-in-out infinite;
	-webkit-animation: wobble 10s ease-in-out infinite;
	visibility: visible !important;
}

@keyframes wobble {
	0% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	50% {
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
	}
}

@-moz-keyframes wobble {
	0% {
		-moz-transform: rotate(3deg);
	}
	50% {
		-moz-transform: rotate(-3deg);
	}
	100% {
		-moz-transform: rotate(3deg);
	}
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: rotate(3deg);
	}
	50% {
		-webkit-transform: rotate(-3deg);
	}
	100% {
		-webkit-transform: rotate(3deg);
	}
}
/* --- End Animation CSS --- */

@media (max-width: 80em) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 72em) {
    body {
        font-size: 80%;
    }
}

@media (max-width: 64em) {
    body {
        font-size: 70%;
    }
}

@media (max-width: 56em) {
    body {
        font-size: 100%;
    }
}

@media (max-width: 48em) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 40em) {
    body {
        font-size: 80%;
    }
}

@media (max-width: 36em) {
    body {
        font-size: 70%;
    }
}

@media (max-width: 32em) {
    body {
        font-size: 100%;
    }
}

@media (max-width: 26em) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 24em) {
    body {
        font-size: 80%;
    }
}